:root {
	--font-color: #C8C3BC;
	--lighter-color: #2d2f30;
	--light-color: #505456;
	--dark-color: #282a2c;
	--darker-color: #1F2123;
	--border: 4px;
	--button-size: 99px;
}

body {
	margin: 0;
	color: var(--font-color);
	font-family: FiraSans;
	font-size: 50px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100dvh;
	width: 100%;
}

p {
	margin: 0;
}

main {
	background-color: var(--darker-color);
	flex: 1;
	overflow: hidden;
	overflow-y: auto;
}

/* mathfield */
:root {
	--primary: var(--dark-color);
	--caret-color: #0559ff;
	--selection-color: var(--font-color); 
	--selection-background-color: var(--light-color);
	--contains-highlight-background-color: var(--dark-color);
}

math-list {
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
}

math-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: var(--dark-color);
	width: calc(100% - 20px);
	margin: 10px;
	border-radius: 5px;
}

result-box {
	display: flex;
	float: right;
	flex-wrap: nowrap;
}

result-box button {
	margin: auto 0;
	height: 35px;
	width: 35px;
	font-size: large;
	color: inherit;
	border: none;
	border-radius: 3px;
	background-color: var(--darker-color);
}
result-box button:hover {
	background-color: var(--light-color);
}

math-field {
	background-color: var(--dark-color);
	color: var(--font-color);
	border: none;
	outline: none !important;
	margin: auto 0;
	padding: 0.3em;
	max-width: calc(100% - 0.6em);
	flex: 1;
}

math-field::part(virtual-keyboard-toggle), math-field::part(menu-toggle) {
	display: none;
}


/* keyboard */
/* ################################################## */
keyboard {
	background-color: var(--dark-color);
	width: 100%;
	user-select: none;
	display: flex;
	justify-content: center;
	touch-action: none;
	flex: 0;
	position: relative;
}

keyboard button {
	background-color: var(--dark-color);
	display: block;
	position: absolute;
	padding: 0.5em;
	border-radius: 100%;
	color: inherit;
	font-size: 20px;
	border: none;
	width: 50px;
	aspect-ratio: 1/1;
	right: 20px;
	top: -70px;
}

table {
	width: 100%;
	max-width: 600px;
}

td {
	background-color: var(--darker-color);
	text-align: center;
	height: var(--button-size);
	width: var(--button-size);
	border-radius: 2px;
	cursor: pointer;
	position: relative;
}

td * {
	cursor: pointer !important;
}

.menu {
	background-color: var(--dark-color);
}

.number {
	background-color: var(--lighter-color);
}

.has_submenu::after {
	display: inline-block;
	position: absolute;
	content: "";
	background-color: red;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	bottom: 5px;
	right: 5px;
}

/* Submenu */
.submenu {
	display: none;
	position: absolute;
	background-color: var(--light-color);
	z-index: 2;
	bottom: var(--button-size);
	left: 0;
	border-radius: 4px;
}

.submenu p {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc( var(--button-size) - 1px);
	min-height: calc( var(--button-size) + 4px);
	border-radius: 2px;
}

.submenu p::after {
	/* Select el even mouse under submenu */
	display: inline-block;
	position: absolute;
	content: "";
	/* background-color: red; */
	height: var(--button-size);
	width: var(--button-size);
	bottom: calc(-1 * var(--button-size));
	left: 0;
}

/* Two line submenu */
.submenu_top {
	bottom: calc(2 * var(--button-size));
}

.submenu_top p::after {
	display: none;
}

/* Hover Effect */
.has_submenu.hover {
	background-color: var(--light-color);
}

.has_submenu.hover .submenu  {
	display: flex;
}

.submenu p.hover {
	background-color: var(--darker-color);
	width: calc( var(--button-size) - 9px);
	min-height: calc( var(--button-size) - 4px);
	margin: 4px;
}

.submenu p.hover::after {
	bottom: calc(-1 * var(--button-size) - 4px);
	left: -4px;
}

@media (pointer: fine) {
	td:hover {
		background-color: var(--light-color);
	}

	.submenu p:hover {
		background-color: var(--darker-color);
		width: calc( var(--button-size) - 9px);
		min-height: calc( var(--button-size) - 4px);
		margin: 4px;
	}

	.submenu p:hover::after {
		bottom: calc(-1 * var(--button-size) - 4px);
		left: -4px;
	}
}

@media (max-width: 600px) {
	:root {
		--border: 2px;
		--button-size: 15vw;
	}
	body {
		font-size: 6vw;
	}
	table {
		width: 100vw;
	}
	.has_submenu::after {
		height: 1.5vw;
		width: 1.5vw;
		bottom: 0.7vw;
		right: 0.7vw;
	}
}